@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-card-image .card.image-full::before {
  border-radius: 0.5rem;
  opacity: 0.25;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  ::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  min-width: 100vw;
  height: 100dvh;
  overflow: hidden;
}
.canvas-container {
  max-width: 400px;
  max-height: 200px;
}

.custom-card {
  min-width: 144px;
  max-width: 144px;
  min-height: 240px;
  max-height: 240px;
  transition: 400ms;
  .front {
    opacity: 1;
    transition: 400ms;
  }
  .back {
    opacity: 0;
    transition: 400ms;
  }
  &.flipped {
    transform: rotateY(180deg);
    .front {
      opacity: 0;
    }
    .back {
      opacity: 1;
      transform: rotateY(180deg);
    }
  }
}